{% extends 'myapp/base.html' %}

{% block content %}
<div class="alert alert-primary row justify-content-center " role="alert">
<h5>Welcome Admin Panel!</h5>
</div>
<div class="row">
  <div class="col-sm-6">
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">Exam Manage</h5>
        <p class="card-text">Update the date of exam,add any new Exam and Manage everything of exam</p>
        <a href="{% url 'exam' %}" class="btn btn-primary">Exam</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">Seat Manage</h5>
        <p class="card-text">Give number of student and their room No</p>
        <a href="{% url 'seat_manage' %}" class="btn btn-primary">SeatPlan</a>
      </div>
    </div>
  </div>
</div>

<hr>
  <div class="col">
        <div class="row justify-content-center">
          <h5> ALL ROOM </h5>
        </div>
         <hr>
         <div class="card card-body">
           <a class="btn btn-sm btn-block bg-primary" style="color: white;"  href="{% url 'room_create' %}"> Create room </a>
             <table class="table table-sm">
                 <tr>
                     <th>Room no</th>
                     <th>Floor</th>
                     <th>Capacity</th>
                     <th>update</th>
                     <th>veiw</th>
                 </tr>

                 {% for room in room %}
                 <tr>
                     <td>
                         {{room.room_no}}
                     </td>
                     <td>
                         {{room.floor}}
                     </td>
                     <td>
                         {{room.capacity}}
                     </td>
                     <td>
                         <a class="btn btn-sm btn-info" href="{% url 'room_update' room.id %}">Update</a>
                     </td>
                     <td>
                         <a class="btn btn-sm btn-danger" href="{% url 'room' room.id %}">View</a>
                     </td>
                 </tr>
                 {% endfor %}
             </table>
         </div>
     </div>

{% endblock content %}
