<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  </head>
  <body>
    <div class="row">
    <div class="col-md-6">
        <div class="card card-body">
            <h3>Are you sure you want to delete "{{ date.date }}"?</h3>
            <form action="{% url 'date_delete' id.id %}" method="POST">
                {% csrf_token %}
                <a class="btn btn-sm btn-warning" href="{% url 'date_view' %}">Cancel</a>
                <input class="btn btn-sm  btn-danger" type="submit" name="Confirm">
            </form>
        </div>
    </div>
</div>

  </body>
</html>
