
{% load static %}

<!DOCTYPE html>
<html>
<head><!--header files are added here-->
<title>Exam Management</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<link rel="stylesheet" href="{% static 'css/a.css'%}">


</head>
<body>
  {% include 'myapp/nav.html' %}

  <br>
  <br>
  <br>

  <div class="row justify-content-end mt-5">

    <div class="col-md-7 text-center">

      <div class="card-body">
      <h1>WELCOME TO HOMEPAGE!</h1>

      <a role="button" class="btn btn-primary btn-lg" href="{% url 'signupuser' %}">Signup</a>
      <br>

      <h2>Already sign up!</h2>
      <a role="button" class="btn btn-outline-dark" href="{% url 'loginuser' %}">Sign in</a>
    </div>
    </div>
  </div>


<!--short codes end here--></div></div>


</body>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

</html>
