{% load static %}
<!DOCTYPE html>
<html>
  <head><!--header files are added here-->
    <title>Exam Management</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="{% static 'css/a.css'%}"> -->

      <style>
      body{

      	background-image:url(" /static/images/exam3.jpg " );
        background-size:cover;
        background-color: rgba(0,0,0, 0.1);

        background-repeat: no-repeat;


        }
        /* .card{


            background-color: rgba(245, 245, 245, 1);
        opacity: .4;

        } */

      </style>
    </head>
     <body>
      {% include 'myapp/nav.html' %}
          <div class="container">
            <div class="row justify-content-md-center mt-2">
            <h1>WELCOME TO STUDENT PAGE</h1>
            <p>First fill up your form with correct detials.You can update your profile.Also you can view your exam schedule and seat plan</p>
           </div>
          </div>

         <div class="row ">
           <div class="col-3 mx-5 mt-2">
             <div class="card  border-secondary" style="width: 18rem; background-color: rgba(245, 245, 245, 0.3); ">
               <div class="card-body">
                 <h5 class="card-header">Biodata</h5>
                 <p class="card-text">For first time fill up your information.</p>
                 <a role="button" class="btn btn-dark btn-sm" href="{% url 'studentInfo' %}">Fill up Info</a>
                </div>
               </div>
               </div>
           <div class="col-3 mx-5 mt-2">
         <div class="card border-secondary" style="width: 18rem; background-color: rgba(245, 245, 245, 0.3); ">
           <div class="card-body">
             <h5 class="card-header">Exam Schedule</h5>
             <p class="card-text">You can see your exam info here</p>
             <a href="{% url 'exam_schedule' %}" class="btn btn-dark">Exam</a>
           </div>
         </div>
       </div>
           <div class="col-3 mx-5 mt-2">
         <div class="card border-secondary" style="width: 18rem; background-color: rgba(245, 245, 245, 0.3); ">
           <div class="card-body">
             <h5 class="card-header">SeatPlan</h5>
             <p class="card-text">You can see your seat info here</p>
             <a href="{% url 'seat_plan' %}" class="btn btn-dark">Seat</a>
           </div>
         </div>
       </div>
     </div>

     <div class="row ">
       <div class="col-3 mx-5 mt-5 align-center">
      <div class="card border-secondary" style="width: 18rem; background-color: rgba(245, 245, 245, 0.3); ">
       <div class="card-body">
         <h5 class="card-header">Update Info</h5>
         <p class="card-text">You can update your info here</p>
         <a href="{% url 'studentInfoupdate' user.id %}" class="btn btn-dark">Update</a>
       </div>
      </div>
      </div>
     </div>



            <div class="row justify-content-center mt-2">
              <a role="button" class="btn btn-primary btn-sm" href="{% url 'logoutuser' %}">Log out</a>

               </div>


     </body>
     <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
         integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
         crossorigin="anonymous"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
         integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
         crossorigin="anonymous"></script>
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
         integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
         crossorigin="anonymous"></script>

</html>
