{% extends 'myapp/base.html' %}

{% block content %}
  <body>
      <h1>student</h1>
      <a role="button" class="btn btn-primary btn-sm" href="{% url 'studentInfo' %}">Fill up Info</a>
      <a role="button" class="btn btn-primary btn-sm" href="{% url 'logoutuser' %}">Log out</a>
      <a role="button" class="btn btn-primary btn-sm" href="{% url 'studentInfoupdate' user.id %}">Update</a>
      <a role="button" class="btn btn-primary btn-sm" href="{% url 'exam_schedule' %}">Exam Schedule</a>


{% endblock content %}
