{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Project</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
    body{
      background-image:url(" static/images/exam6.jpg ");
      background-size: 1500px 700px;
      background-repeat: no-repeat;

      }
    </style>
  </head>
  <body>
    {% include 'myapp/nav.html' %}

        <div class="row justify-content-center mt-5">
            <div class="col-md-5">
                <h2>Student Info</h2>
            </div>
        </div>
        <div class="row justify-content-center mt-5">
            <div class="col-md-5">
                {% if error %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endif %}
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <!-- <div class="form-group">
                        <label for="stu_id">Student ID</label>
                        <input type="text" name="stu_id" class="form-control" id="stu_id" aria-describedby="usernameHelp">
                        <small id="usernameHelp" class="form-text text-muted">Your stu_id must be unique. We'll let you know if someone has taken it already.</small>
                    </div> -->
                    <!-- <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" name="username" class="form-control" id="username" aria-describedby="usernameHelp">
                        <small id="usernameHelp" class="form-text text-muted">Your login_id must be unique. We'll let you know if someone has taken it already.</small>
                    </div> -->

                    <!-- <div class="form-group">
                        <label for="stu_name">Name</label>
                        <input type="text" name="stu_name" class="form-control" id="stu_name">
                    </div>
                    <div class="form-group">
                    <select id="stu_level" class="form-control" name="stu_level">
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                    </select>
                    </div>

                    <div class="form-group">
                        <label for="stu_dept">Department</label>
                        <input type="text" name="stu_dept" class="form-control" id="stu_dept">
                    </div>
                    <div class="form-group">
                        <label for="stu_mail">Email</label>
                        <input type="text" name="stu_mail" class="form-control" id="stu_mail">
                    </div> -->
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
                <hr>

            </div>
        </div>
  </body>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"></script>

</html>
